//FONTS
=fontpath($name, $name1, $file)
	src: local($name), local($name1), url("../fonts/" + $file + ".woff2") format("woff2"), url("../fonts/" + $file + ".woff") format("woff")
=fontdefault($style, $weight, $name)
	font-family: $name
	font-style: $style
	font-weight: $weight

$avenir: 'AvenirNextLTPro'
$openSans: 'Open Sans'

@font-face
	+fontdefault(normal, 400, $avenir)
	+fontpath('AvenirNextLTPro-Regular', 'AvenirNextLTPro-Regular', AvenirNextLTPro-Regular)

@font-face
	+fontdefault(normal, 400, $openSans)
	+fontpath('OpenSans-Regular', 'OpenSans-Regular', OpenSans-Regular)

@font-face
	+fontdefault(normal, 700, $openSans)
	+fontpath('OpenSans-Bold', 'OpenSans-Bold', OpenSans-Bold)