.main
  float: right
  min-height: 100vh 
  padding: 70px 0 50px
  width: calc(100% - 230px)
  background-color: #f5f5f5
  font-family: $mainFont
  +md 
    width: calc(100% - 180px)
  +sm 
    float: none
    width: 100%
    padding-top: 50px
  &__header
    padding-bottom: 24px
    border-bottom: 2px solid rgba(#bcc7d3, 0.4)
    margin-bottom: 40px
    margin-top: 50px
    +sm 
      margin-top: 32px
    h2 
      color: #78909c
      font-size: 14px
      font-weight: 400
      letter-spacing: 0.015em
      line-height: 1.5
      .name 
        color: #37474f
        font-size: 18px
  &__inner
    padding: 0 72px
    +xl 
      padding: 0 30px
    +md 
      padding: 0 15px
  &__top-chart
      padding: 20px 20px 10px
      background-color: $white
      margin-bottom: 40px
      +sm 
        padding: 20px 0 10px
        margin-bottom: 15px
  &__bottom-charts
    display: flex
    justify-content: space-between
    +md
      flex-wrap: wrap

.area-chart-controls
  margin-bottom: 30px
  display: flex
  justify-content: space-between
  +sm 
    padding: 0 15px
    margin-bottom: 20px

.area-chart-wrapper
  position: relative
  height: 33vh
  min-height: 300px

.donat-chart-wrapper
  background-color: $white
  padding: 18px
  +fsize(290px)
  position: relative
  background-image: url(../img/donat-chart.png)
  background-repeat: no-repeat
  background-position: 35% 50%
  background-size: auto 40%
  +xl 
    padding: 8px
  +sm 
    padding: 5px
    margin-bottom: 15px

.bar-chart-wrapper
  background-color: $white
  padding: 15px
  +fsize(calc(100% - 302px))
  margin-left: 12px
  position: relative
  +xl 
    padding: 5px
  +md 
    +fsize(100%)
    padding: 8px

.bar-chart-wrapper,
.donat-chart-wrapper
  height: 20vh
  min-height: 192px
  +xl 
    min-height: 150px
    height: auto