.sidebar
  position: fixed
  top: 70px
  left: 0
  bottom: 0
  width: 230px
  background-color: $darkGrey
  font-family: $menuFont
  +md 
    width: 180px
  +sm 
    width: 100%
    top: 50px
    bottom: auto
  &__menu
    +sm 
      position: absolute
      top: 0
      left: 0
      width: 100%
      transform: translateY(101%)
      transition: transform 0.4s

.sidebar-menu
  &__item
    display: flex
    align-items: center
    padding: 20px 22px
    opacity: 0.5
    transition: background-color $tr, opacity $tr
    +md 
      padding: 16px 8px
    +hover 
      background-color: $lightGrey
      opacity: 1
  &__link
    text-decoration: none
    color: $white
  &__icon
    color: $white
    margin-right: 16px
    font-size: 0
    +icenter
    +md 
      margin-right: 8px
    .icon
      font-size: 16px
      max-width: 16px
  &__text
    font-size: 14px
    +icenter
    +md 
      font-size: 13px