.icon-analitics {
  width: 1.6em;
  height: 1em;
  fill: currentColor;
}
.icon-calendar {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-home {
  width: 1.07em;
  height: 1em;
  fill: currentColor;
}
.icon-inbox {
  width: 1.14em;
  height: 1em;
  fill: currentColor;
}
.icon-settings {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
